* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("https://source.unsplash.com/1600x900/?landscape");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons{
    margin-top: 30px;
    display: flex;
    gap: 30px;
}

button {
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;

}

button:hover{
    opacity: 0.5;
}

#rock{
    background-color: #b111d1;
}

#paper{
    background-color: #8fc959;
}

#scissors{
    background-color: #28a6d4;
}

p{
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}

.your-score span{
    color:#183ac6;
}

.machine-score span{
    color:#d14314;
}

